header {
    width: 100%;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}

header ul li {
    margin: 0 2%;
}

nav {
    width: 30%;
    font-family: Playball;
    font-size: 2em;
}

nav ul {
    list-style-type: none;
}

nav ul li {
  background:
     linear-gradient(
       to right,
       var(--mainColor) 0%,
       var(--mainColor) 5px,
       transparent 5px
     );
  background-repeat: repeat-x;
  color: var(--text-color);
  padding-left: 10px;
  text-decoration: none;
}

nav ul li:hover {
  background:
     linear-gradient(
       to right,
       var(--mainColor) 0%,
       var(--mainColor) 5px,
       transparent
     );
}

#page-body {
    width: 60%;
}
