header {
    width: 100%;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}

header ul li {
    margin: 0 2%;
}

nav {
    width: 30%;
    font-family: Playball;
    font-size: 2em;
}

nav ul {
    list-style-type: none;
}

#page-body {
    width: 60%;
}
