[data-theme="dark"] {
  --mid-color: #616e7c;
  --bg-color: #121212;
  --subbg-color: #323f4b;
  --link-color: #e4e7eb;
  --text-color: #e4e7eb;
  --accent-color: #ceccff;
  --subaccent-color: #9794ff;
  --sec-color: #3e4c59;
}

[data-theme="light"] {
  --bg-color: white;
  --subbg-color: #f5f5f5;
  --shadow-color: #616e7c;
  --text-color: black;
  --accent-color: #fa4a4a;
  --subaccent-color: #9e2424;
  --header-color: #900404;
}

#logo #e {
  fill: var(--accent-color);
}

#logo #f {
  fill: var(--subaccent-color);
}

header {
  padding: 1rem 2rem;
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  border-bottom: solid .25em var(--subaccent-color);
}

#logo a {
  color: var(--accent-color);
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}

#logo a svg {
  display: inline;
  height: 2.5rem;
  width: auto;
}

header a {
  animation: grow 1s linear;
  color: var(--text-color);
  text-decoration: none;
}

header a:hover {
  text-shadow: 0.1rem 0.1rem 0.05em var(--subaccent-color);
}

header li,
#dark-mode {
  margin: 0 1%;
}

#side-header {
  position: relative;
}

#side-menu {
  position: fixed;
  bottom: 5%;
  left: 10%;
}

nav {
  background-color: var(--bg-color);
  height: 100%;
  width: 25%;
}

#nav-collapse {
  display: none;
}


#nav-collapse + #links-collapse,
#nav-collapse + #side-bar {
  transition: transform 0.5s ease-in-out;
  transform: translatex(101%);
  background-color: var(--bg-color);
}

#nav-collapse:checked + #links-collapse,
#nav-collapse + #side-bar {
  transform: translatex(0%);
  background-color: var(--bg-color);
  box-shadow: #1f2933 -0.1rem -0.2rem 0.75rem;
}

#links-collapse {
  position: fixed;
  height: 100%;
  width: 30%;
  top: 0;
  right: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  background-color: var(--bg-color);
}

#nav-links {
  width: 100%;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  background-color: var(--subbg-color);
}

#nav-links li {
  text-align: center;
  margin: 1% 0;
}

#nav-links a:-webkit-any-link {
  width: 100%;
  margin: auto;
  color: var(--link-color);
  font-size: 1.25em;
  text-decoration: none;
}

#nav-links a {
	transition: background-color 1ms, opacity 400ms;
  background-color: var(--subbg-color);
}

#nav-links a:hover {
  background-color: var(--accent-color);
}

#page-body {
  width: 100%;
  padding: 1%;
  margin: auto 5%;
}

footer {
  width: 100%;
  padding: 2%;
  text-align: right;
  color: var(--accent-color);
}

footer h2 {
  color: var(--accent-color);
}

#working-on-it {
  text-align: center;
  padding: 5%;
  background-color: var(--sec-color);
}

#working-on-it img {
  width: 50%;
}

.container {
  cursor: pointer;
  display: flex;
}