[data-theme="dark"] {
  --bg-color: rgb(21, 32, 40);
  --subbg-color: rgba(36, 55, 68, 0.5);
  --sub-color: #222222;
  --link-color: #e4e7eb;
  --text-color: #e4e7eb;
  --accent-color: #ceccff;
  --subaccent-color: #9794ff;
  --header-bottom: rgba(255, 255, 255, 0.1);
  --emphasis-color: #44d8c6;
  --subemphasis-color: #30a395;
}

[data-theme="light"] {
  --bg-color: white;
  --subbg-color: rgba(36, 55, 68, 0.05);
  --link-color: black;
  --text-color: black;
  --accent-color: #fa4a4a;
  --subaccent-color: #9e2424;
  --header-color: #900404;
  --header-bottom: rgba(1, 1, 1, 0.1);
  --emphasis-color: #44d8c6;
  --subemphasis-color: #30a395;
}

a:-webkit-any-link {
  font-weight: bold;
  color: var(--accent-color);
  text-decoration: none;
  &:hover {
    color: var(--subaccent-color);
  }
}

#logo {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  padding: 1rem;
  #e {
    fill: var(--accent-color);
  }
  #f {
    fill: var(--subaccent-color);
  }
  a {
    color: var(--accent-color);
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    svg {
      display: inline;
      height: 2.5rem;
      width: auto;
    }
    &:hover {      
      text-shadow: 0 0 10px khaki, 0 0 40px khaki, 0 0 80px khaki;
    }
  }
}

header {
  position: relative;
  padding: 2rem;
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  overflow-x: hidden;
  a {
    color: var(--text-color);
    text-decoration: none;
    &:hover {
      color: var(--emphasis-color);
    }
  }
  &:li,
  #dark-mode {
    margin: 0 1%;
  }
}

#side-header {
  position: relative;
  padding: 0%;
  margin: 0%;
}

nav {
  background-color: var(--bg-color);
  height: 100%;
  width: 100%;
  z-index: 1;
}

#nav-collapse {
  display: none;
  & + #links-collapse,
  & + #side-bar {
    transition: transform 1s ease-in-out;
    transform: translatex(-101%);
    background-color: var(--bg-color);
  }
  &:checked + #links-collapse,
  &:checked + nav,
  & + #side-bar {
    transform: translatex(0%);
    background-color: var(--bg-color);
  }
}

#links-collapse {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  background: var(--bg-color) url("../components/assets/nav.jpg") no-repeat fixed center;
  background-size: 100%;
  h2 {
    color: white;
    text-shadow: .1rem .2rem black;
    padding: 1rem 0 1rem 3rem;
  }
  #links {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: var(--bg-color);
    box-shadow: #1f2933 -0.1rem -0.2rem 0.75rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }
}

#nav-links {
  width: 100%;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin: 8% auto;
  li {
    margin: 1% auto;
  }
  a:-webkit-any-link {
    font-weight: normal;
    width: 100%;
    text-align: center;
    color: var(--text-color);
    font-size: 1.25em;
    text-decoration: none;
    background: none;
    transition: all 0.1s ease-in-out;
    &:hover,
    &:focus {
      text-shadow: -0.2rem 0.2rem 0.5rem var(--link-color);
      background: linear-gradient(
        -45deg,
        var(--emphasis-color),
        var(--accent-color),
        khaki
      );
      background-size: 200% 200%;
      animation: gradient 5s ease infinite;
    }
  }

  a {
    border-bottom: var(--accent-color) 0.1rem solid;
    &:hover {
      background-color: var(--subaccent-color);
      color: var(--bg-color);
    }
  }
}

#page-body {
  width: 100%;
}

details {
  width: 100%;
  margin: 2% 1%;
  background-color: var(--subbg-color);
  &[open] summary ~ * {
    animation: sweep 0.5s ease-in-out;
  }
  summary {
    padding: 1%;
    background-color: var(--bg-color);
    cursor: pointer;
    & > * {
      display: inline;
    }
  }
}

footer {
  width: 100%;
  padding: 2%;
  text-align: right;
  color: var(--text-color);
  position: relative;
  #side-footer {
    display: inline-flex;
    flex-flow: row wrap;
    text-align: left;
    width: 20%;
  }
  h2 {
    display: inline-block;
    width: 75%;
    color: var(--accent-color);
  }
  a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
    &:hover {
      color: var(--accent-color);
    }
  }
  #to-the-top {
    position: absolute;
    top: 50%;
    right: 50%;
    background-color: var(--accent-color);
    transition: all .2s ease-in-out;
    &:hover {
      box-shadow: 0 0 10px khaki, 0 0 40px khaki, 0 0 80px khaki;
    }
  }
}

#working-on-it {
  text-align: center;
  padding: 5%;
  background-color: var(--bg-color);
  img {
    width: 50%;
  }
}
