[data-theme="dark"] {
  --bg-color: #121212;
  --subbg-color: #323f4b;
  --link-color: #e4e7eb;
  --text-color: #e4e7eb;
  --accent-color: #ceccff;
  --subaccent-color: #9794ff;
  --sec-color: #3e4c59;
  --header-bottom: rgba(255, 255, 255, 0.1);
  --contrast: white;
}

[data-theme="light"] {
  --bg-color: white;
  --subbg-color: #f5f5f5;
  --link-color: black;
  --text-color: black;
  --accent-color: #fa4a4a;
  --subaccent-color: #9e2424;
  --header-color: #900404;
  --header-bottom: rgba(1, 1, 1, 0.1);
}

#logo {
  #e {
    fill: var(--accent-color);
  }
  #f {
    fill: var(--subaccent-color);
  }
  a {
    color: var(--accent-color);
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    svg {
      display: inline;
      height: 2.5rem;
      width: auto;
    }
  }
}

header {
  padding: 1rem 2rem;
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  overflow-x: hidden;
  a {
    color: var(--text-color);
    text-decoration: none;
    &:hover {
      text-shadow: 0.1rem 0.1rem 0.05em var(--subaccent-color);
    }
  }
  &:li,
  #dark-mode {
    margin: 0 1%;
  }
}

#side-header {
  position: relative;
  padding: 0%;
  margin: 0%;
}

nav {
  background-color: var(--bg-color);
  height: 100%;
  width: 25%;
  z-index: 1;
}

#nav-collapse {
  display: none;
  & + #links-collapse,
  & + #side-bar {
    transition: transform 0.5s ease-in-out;
    transform: translatex(-101%);
    background-color: var(--bg-color);
  }
  &:checked + #links-collapse,
  & + #side-bar {
    transform: translatex(0%);
    background-color: var(--bg-color);
    box-shadow: #1f2933 -0.1rem -0.2rem 0.75rem;
  }
}

#links-collapse {
  position: fixed;
  height: 100%;
  width: 30%;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
}

#nav-links {
  width: 100%;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  margin: 8% auto;
  li {
    margin: 1% auto;
  }
  a:-webkit-any-link {
    width: 100%;
    text-align: center;
    color: var(--link-color);
    font-size: 1.25em;
    text-decoration: none;
    background: none;
    transition: all 0.5s ease-in-out;
    &:hover, &:focus {
      background-image: linear-gradient(to right,var(--accent-color),var(--subaccent-color));
    }
  }

  a {
    border-bottom: var(--accent-color) 0.1rem solid;
    &:hover {
      background-color: var(--subaccent-color);
      color: var(--bg-color);
    }
  }
}

#page-body {
  width: 100%;
  padding: 1%;
  margin: auto 5%;
}

footer {
  width: 100%;
  padding: 2%;
  text-align: right;
  color: var(--text-color);
  #side-footer {
    display: inline-flex;
    flex-flow: row wrap;
    text-align: left;
    width: 20%;
  }
  h2 {
    display: inline-block;
    width: 75%;
    color: var(--accent-color);
  }
}

#working-on-it {
  text-align: center;
  padding: 5%;
  background-color: var(--bg-color);
  img {
    width: 50%;
  }
}
