#projects {
    text-align: center;
    margin: 0%;
    padding: 0%;
    .filter {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: baseline;
        padding-right: 5rem;
        label {
            padding-right: 1rem;
        }
    }
    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: stretch;
        margin: 2rem auto;
    }
}

.project-card {
    background-color: var(---subbg-color);
    width: 47%;
    margin: 1rem;
    border-radius: 5%;
    perspective: 1000px; 
    border: .1rem solid var(--accent-color);
    box-shadow: .25rem 3px khaki, -.25rem -3px var(--emphasis-color);
    &:hover .project-card-inner {
        transform: rotateY(180deg);
    }      
    .project-card-inner {
        transition: transform 0.5s;
        transform-style: preserve-3d;
    }
    .front, .back {
        padding: 2rem;
        height: 100%;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    .back {
        position: absolute;
        top: 0;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        background-color: var(---subaccent-color);
        transform: rotateY(180deg);
        text-align: center;
    }
    .tags {
        margin: 1rem;
        display: flex;
        flex-flow: row wrap;
        span.badge.badge-pill {
            color: black;
            background-color: khaki;
            box-shadow: 2px 3px darkkhaki;
            margin: .25rem;
            &:nth-child(even) {
                background-color: var(--emphasis-color);
                box-shadow: 2px 3px var(--subemphasis-color);
            }
            &:nth-child(3n) {
                background-color: var(--accent-color);
                box-shadow: 2px 3px var(--subaccent-color);
            }
        }
    }
}

.carousel-slide {
    .carousel-indicators {
        li {
            background-color: var(--emphasis-color);
        }
    }
    a {
        span {
            background: var(--emphasis-color);
        }
    }

}