@media screen and (max-width: 1200px) {
    nav {
        width: 25%;
    }
    #page-body {
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    nav, #page-body {
        position: relative;
        width: 100%;
        margin: 0;
    }
}
