@media screen and (max-width: 1200px) {
    #links-collapse {
        width: 30%;
        top:0;
    }
    nav li {
        width: 100%;
        padding: 0;
        margin: 0;
        box-shadow: none;
    }
    #page-body {
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    #links-collapse, #page-body {
        width: 100vw;
        margin: 0;
    }
}
