#side-bar {
  text-align: center;
  margin: 1rem auto;
}

#page-utils {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  &:h1 {
    font-size: 1.5em;
    font-family: Playball;
  }
}

#utils {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 5% 0;
}

#pfp {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: auto;
  border-radius: 50%;
}

#nav-links #pfp {
  margin-bottom: 15%;
}

.toggle {
  --size: 2rem;
  --ray-size: calc(var(--size) * -0.4);
  --offset-orthogonal: calc(var(--size) * 0.65);
  --offset-diagonal: calc(var(--size) * 0.45);

  appearance: none;
  outline: none;
  cursor: pointer;

  width: var(--size);
  height: var(--size);

  border-radius: 999px;

  color: hsl(40, 100%, 50%);
  transform: scale(0.75);
  box-shadow: inset 0 0 0 var(--size),
    calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
    var(--offset-orthogonal) 0 0 var(--ray-size),
    0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
    0 var(--offset-orthogonal) 0 var(--ray-size),
    calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0
      var(--ray-size),
    var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
    calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size),
    var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);

  transition: all 500ms;
  &:hover {
    color: var(--accent-color);
  }

  &:checked {
    color: #ceccff;
    box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
    
    &:checked + .slider {
      background-color: var(--subaccent-color);
    }
    
    &:focus + .slider {
      box-shadow: 0 0 1px var(--subaccent-color);
    }
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3f3f3f;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  &:hover {
  }
  &::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.hamburger {
  display: flex;
  height: 1.5rem;
  width: 2rem;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  float: right;
  margin: 2rem;
}

.hamburger__icon {
  display: inline-block;
  height: 0.2rem;
  width: 2rem;
  background: var(--text-color);
  border-radius: 2px;
}

.closed {
  display: flex;
  justify-content: flex-end;
}

#close-nav-toggle {
  padding: 1rem;
  font-size: 1.5rem;
  color: var(--link-color);
  &:hover {
    color: var(--accent-color);
  }
}

footer .lines {
  margin-top: 5%;
}

.lines {
  z-index: 0;
  width: 90vw;
  margin: auto;
  height: 1rem;
}

.line {
  position: absolute;
  height: 2px;
  width: 90vw;
  background: var(--header-bottom);
  overflow: hidden;
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 15vw;
    height: 100%;
    background: linear-gradient(
      to right,
      var(--header-bottom) 0%,
      var(--accent-color) 75%,
      var(--accent-color) 100%
    );
    animation: flow 5s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  }
  &:nth-child(1):after {
    animation-delay: 1s;
  }
  &:nth-child(2):after {
    animation-delay: 0.5s;
  }
  &:nth-child(3):after {
    animation-delay: 2s;
  }
}
