#side-bar {
    text-align: center;
    width: 100%;
    margin: 1rem auto;
}

#page-utils {
    background-color: black;
    color: white;
    position: fixed;
    width: auto;
    bottom: 5vh;
    right: 0;
    display: flex;
    flex-flow: row wrap;
    text-align: left;
}

#page-utils h1 {
    font-size: 1.5em;
    font-family: Playball;
}

#utils {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    text-align: center;
}

#pfp {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top: 10% auto;
    border-radius: 50%;
    transition: transform 2s linear, opacity 5s ease-in;
}

.toggle {
    --size: 2rem;
    --ray-size: calc(var(--size) * -0.4);
    --offset-orthogonal: calc(var(--size) * 0.65);
    --offset-diagonal: calc(var(--size) * 0.45);

    appearance: none;
    outline: none;
    cursor: pointer;
    
    width: var(--size);
    height: var(--size);

    border-radius: 999px;

    color: hsl(40, 100%, 50%);
    transform: scale(0.75);
    box-shadow: 
    inset 0 0 0 var(--size),
    calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
    var(--offset-orthogonal) 0 0 var(--ray-size),
    0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
    0 var(--offset-orthogonal) 0 var(--ray-size),
    calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size),
    var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
    calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size),
    var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size)
  ;

    transition: all 500ms;
}

.toggle:checked {
    color: #ceccff;
    box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3F3F3F;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}