@font-face {
  font-family: "Bungee_Outline";
  src: local("Bungee_Outline"),
    url("./fonts/Bungee_Outline/BungeeOutline-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Playball";
  src: local("Playball"),
    url("./fonts/Playball/Playball-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Rajdhani";
  src: local("Rajdhani"),
    url("./fonts/Rajdhani/Rajdhani-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Shippori_Mincho";
  src: local("Shippori_Mincho"),
    url("./fonts/Shippori_Mincho/ShipporiMincho-Regular.ttf") format("truetype");
  font-weight: normal;
}

:root {
  --bg-color: #fff;
  --text-color: #000;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  box-sizing: border-box;
  padding: 0;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  font-family: Rajdhani;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 1.25em;
}

header a,
a:active,
a:visited {
  text-decoration: none;
  color: var(--link-color);
}
